<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControlCart</servlet-name>
        <servlet-class>BalihoBean.ControlCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlDelCart</servlet-name>
        <servlet-class>BalihoBean.ControlDelCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCheckOut</servlet-name>
        <servlet-class>BalihoBean.ControlCheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCekSewa</servlet-name>
        <servlet-class>BalihoBean.ControlCekSewa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlCart</servlet-name>
        <url-pattern>/ControlCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlDelCart</servlet-name>
        <url-pattern>/ControlDelCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCheckOut</servlet-name>
        <url-pattern>/ControlCheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCekSewa</servlet-name>
        <url-pattern>/ControlCekSewa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
